html {
  position: relative;
  min-height: 100%;
}
body {
  margin:8px 0px; padding:0px;
}
a, a:hover, a:focus, a:visited { outline:none;}
#main { min-height: 550px; }
#top-bar { margin:15px auto; padding:0px; }
.page-header { border:0px; padding:0px; margin:15px auto;}

/* Tags */
.tagsinput {
  background: white;
  /*border: 2px solid #ebedef;
  border-radius: 6px;
  /*height: 100px;
  margin-bottom: 18px;
  padding: 6px 1px 1px 6px;
  overflow-y: auto;
  text-align: left;*/
}
.tagsinput .tag {
  border-radius: 4px;
  background-color: #ebedef;
  color: #7b8996;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  line-height: 15px;
  padding: 6px 13px 8px 19px;
  position: relative;
  vertical-align: middle;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}
.tagsinput .tag-danger{
	background-color:#f2dede !important;
	color:#d9534f;
}
.tagsinput .tag:hover {
  background-color: #777;
  color: #ffffff;
  padding-left: 12px;
  padding-right: 20px;
}
.tagsinput .tag:hover .tagsinput-remove-link {
  color: #ffffff;
  opacity: 1;
  display: block\9;
  text-decoration:none;
}
.tagsinput .tag-danger:hover{
	background-color:#ebcccc !important;
	color:#d9534f;
}

.tagsinput input {
  background: transparent;
  border: none;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0 0 0 5px;
  outline: none !important;
  margin: 6px 5px 0 0;
  vertical-align: top;
  width: 12px;
}
.tagsinput-remove-link {
  bottom: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  opacity: 0;
  padding: 7px 7px 5px 0;
  position: absolute;
  right: 0;
  text-align: right;
  text-decoration: none;
  top: 0;
  width: 100%;
  z-index: 2;
  display: none\9;
}
.tagsinput-remove-link:before {
  color: #ffffff;
  content: "\f00d";
  font-family: "FontAwesome";
}
.tagsinput-add-container {
  vertical-align: middle;
  display: inline-block;
}
.tagsinput-add {
  background-color: #d6dbdf;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 5px;
  padding: 7px 9px;
  vertical-align: top;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}
.tagsinput-add:hover {
  background-color: #E95E0F;
  text-decoration:none;
}
.tagsinput-add:before {
  content: "\f067";
  font-family: "FontAwesome";
}
.tags_clear {
  clear: both;
  width: 100%;
  height: 0px;
}
.ui-helper-hidden-accessible { display:none !important;}
.ui-autocomplete {
 margin:0px; padding:0px; width:350px !important; background-color:white !important; list-style:none; border:1px solid #ddd; z-index:11;
}
.ui-autocomplete li {
	list-style:none;
	margin:10px auto;
	cursor:pointer;
	padding:5px 8px;
}
.ui-autocomplete li:hover{
	background-color:#151515;
	color:#FFF;
}

.ui-autocomplete-loading {
	background: white url('../images/loading.gif') right center no-repeat;
}
.help-block, .inline-help{ font-style: italic; color:#555;}
.input-group-btn select {
	border-color: #ccc;
	margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 7px;
}
.footer{ margin:5px auto; padding:12px 0px; background-color:#A5A5A5; color:#151515; clear:both; border-radius:5px; font-size:12px;}